importlib-metadata==1.5.2
ipykernel==5.2.0
ipython==7.16.3
ipython-genutils==0.2.0
ipywidgets==7.5.1
jsonschema==3.2.0
jupyter-client==6.1.1
jupyter-core==4.6.3
kiwisolver==1.1.0
MarkupSafe==1.1.1
matplotlib==3.2.1
mistune==0.8.4
MouseInfo==0.1.2
nbconvert==5.6.1
nbformat==5.0.4
notebook==6.0.3
numpy==1.18.2
opencv-python==4.2.0.32
pandocfilters==1.4.2
prompt-toolkit==3.0.4
ptyprocess==0.6.0
PyAutoGUI==0.9.48
PyGetWindow==0.0.8
Pygments==2.6.1
PyMsgBox==1.0.7
pyparsing==2.4.6
pyperclip==1.7.0
pyrsistent==0.16.0
PyScreeze==0.1.26
python-dateutil==2.8.1
python3-xlib==0.15
PyTweening==1.0.3
pyzmq==19.0.0
terminado==0.8.3
testpath==0.4.4
tornado==6.0.4
wcwidth==0.1.9
widgetsnbextension==3.5.1
zipp==3.1.0
